<!DOCTYPE html>
<html>
<head>
  <title>MrFoxServer</title>
  <%= include_stylesheets :app %>
  <%= include_javascripts :app %>
  <%= javascript_include_tag 'client' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
